main{
   background-color: rgb(166, 161, 161);
   text-align: center;
   width: 300px;
   height: auto;
   padding: 10px;
   margin: 10px;
   border-radius: 20px;
}

.hero{
    background-color: rgb(133, 122, 122);
    border-radius: 20px;
    padding: 2px;
    margin: 3px;
}

h1{
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    /* font-weight: 500; */
    /* color: antiquewhite; */
}

p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
button{
    border-radius: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 1px 2px ;
}

