p {
  /* font-style: italic; */
  /* font-size: 10px; */
  /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
  /* font-weight: 900; */
  /* line-height: 2; */
   font-family: "Bitcount Prop Single", system-ui;
}

#first_para{
    background-color: yellow;
    color: brown;
}

#sec_para{
    background-color: rgb(167, 107, 107);
    color: rgb(255, 0, 0);
}

#third_para{
    background-color: rgba(129, 96, 96, 0.45);
}

#fourth_para{
    background-color: #70806C;
    color: #C7AF4E;
}

#fifth_para{
    background-color: hsl(136, 42%, 21%);
}