* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box{
    background-color: lightgray;
    border: 1px solid black;
    width: 50%;
} */

.parent{
    border: 1px solid black;
    background-color: lightgrey;
    width: 50%;
} 

.child{
    border: 1px solid green;
    background-color: aqua;
    width: 20%;
} */

 .container_1{
    background: bisque;
    border: 1px solid black;
    height: 100vh;
    width: 50vw;
} */

.box_1{
    border: 1px solid black;
    font-size: 100px;
} 

 .container_2 {
    font-size: 10px;
    padding: 5px;
    border: 1px solid black;
}

.box_2{
    font-size: 10em;
    border: 1px solid red;
    padding: 5em;
}

.first_para{
    border: 1px solid black;
    font-size: 5rem;
}