* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightgrey;
}

img {
  margin: 10px;
}

div {
  border: 1px solid black;
}

.img1 {
}

.img2 {
  /*  if we give postion relative then we can change the position of the element, top, left, right, bottom */
  /* top: 100px;
  left: 100px; */
  /* position: absolute;
  top: 100px; */
}

.img3 {
    position: sticky;
    top: 100px;
}

.img4 {
    position: fixed;
}

.container{
    position: relative;
    height: 800px;
    background-color: lightgrey;
}

.box{
    background-color: lightgreen;
    height: 500px;
}