* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navcontainer {
  width: 100vw;
  background-color: #000000;
  background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
nav {
  width: 100%;
}
#navlist {
  list-style-type: none;
  font-size: 2.5rem;
  display: flex;
  justify-content: space-around;
  /* margin-left: 15px;
    margin-right: 15px; */
  align-items: center;
  width: 100%;
  padding: 15px;
}

.container {
  height: 100%;
  width: 100%;
  overflow-x: none;
  background-color: #e2e5eb;
  background-image: linear-gradient(98deg, #0093e9 0%, #80d0c7 100%);
 
}

#navlogo {
  font-size: 2.8rem;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}
#navitem {
  display: flex;
  gap: 10px 20px;
}

.footer {
 background-color: #000000;
  background-image: linear-gradient(160deg, #000000 0%, #8085d0 100%);
  color: azure;

  width: 100%;
  text-align: center;
  min-height: 25px;
}
.footer p {
  color: azure;
  font-size: 1.1rem;
}

.contenetbox {
  width: 50%;
  margin: auto;
  /* border: 1px solid black; */
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 3rem;
  box-shadow: 1px 0px 30px black;
  border-radius: 20px;
}

.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.rightbox {
  position: relative;
  overflow: hidden;
  transition: all 0.3s linear 0s;
  box-shadow: 1px 1px 10px black;
  border-radius: 20px;
}

.rightbox img {
  height: 300px;
  width: 300px;
  border-radius: 20px;

  transition: all 0.6s 0s linear;
}

.rightbox:hover {
  transform: scale(1.1);
}

.leftbox {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.leftbox h2 {
  font-size: 2rem;
}

.ingredientbox {
  font-size: 1.2rem;
}
.recipebox {
  font-size: 1.1rem;
}

.rightbox .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(207, 190, 190, 0.381);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  transition: all 0.3s linear;
}

.rightbox:hover .overlay{
opacity: 1;
}

.rightbox .overlay span {
  color: white;
  font-size: 1.1rem;
}
